<!-- this "button#myBtn" down here is just for layout purpose -->
<!-- must be deleted in develop -->
button#myBtn Press me to render the modal
#myModal.c-modal
    .modal-content
        .modal-content_header
            p.c-modal-title Editando fichero Nintendotst4453
            span.close ×
        .modal-content_body
            span
                | Suspendisse sodales imperdiet tincidunt. Integer sapien dolor, laoreet vel nisl sed, mollis imperdiet mauris. Morbi imperdiet purus quis mi pellentesque, sit amet volutpat ipsum efficitur. Praesent vel fringilla felis. Aliquam erat volutpat. Quisque id ultrices ipsum. Praesent sed gravida elit. Proin accumsan, nulla bibendum dictum commodo, odio tellus tempor risus, non viverra lectus ante sed arcu. Fusce nisi eros, congue sit amet euismod at, lobortis non ante. Nam tempus in ligula et eleifend. Sed bibendum interdum odio eu vehicula. 
                br
                br
                | Suspendisse fermentum velit sit amet felis vestibulum consectetur. Suspendisse sodales imperdiet tincidunt. Integer sapien dolor, laoreet vel nisl sed, mollis imperdiet mauris. Morbi imperdiet purus quis mi pellentesque, sit amet volutpat ipsum efficitur. Praesent vel fringilla felis. Aliquam erat volutpat. Quisque id ultrices ipsum. Praesent sed gravida elit. Proin accumsan, nulla bibendum dictum commodo, odio tellus tempor risus, non viverra lectus ante sed arcu. Fusce nisi eros, congue sit amet euismod at, lobortis non ante. Nam tempus in ligula et eleifend. Sed bibendum interdum odio eu vehicula. Suspendisse fermentum velit sit amet felis vestibulum consectetur. 
                br
                br
                | Suspendisse sodales imperdiet tincidunt. Integer sapien dolor, laoreet vel nisl sed, mollis imperdiet mauris. Morbi imperdiet purus quis mi pellentesque, sit amet volutpat ipsum efficitur. Praesent vel fringilla felis. Aliquam erat volutpat. Quisque id ultrices ipsum. Praesent sed gravida elit. Proin accumsan, nulla bibendum dictum commodo, odio tellus tempor risus, non viverra lectus ante sed arcu. Fusce nisi eros, congue sit amet euismod at, lobortis non ante. Nam tempus in ligula et eleifend. Sed bibendum interdum odio eu vehicula. Suspendisse fermentum velit sit amet felis vestibulum consectetur. 
        .modal-content_footer
            include ../c-link/c-link.pug
            include ../c-button/c-button.pug
