<!-- this "button#myBtn" down here is just for layout purpose -->
<!-- must be deleted in develop -->
button#myBtn Press me to render the modal
#myModal.c-modal
    .modal-content
        .modal-content_header
            p.c-modal-title Editando fichero Nintendotst4453
            span.close ×
        .modal-content_body
            include ../c-search/c-search.pug
            hr
            textarea(disabled='', style="max-width: 665px; min-width: 665px;  max-height: 340px; min-height: 340px;")
                | Suspendisse sodales imperdiet tincidunt
                | Integer sapien dolor laoreet vel nisl sed mollis imperdiet mauris. Morbi imperdiet purus 
                | Suspendisse sodales imperdiet tincidunt Integer sapien dolor, laoreet
                | Suspendisse sodales imperdiet tincidunt
                | Integer sapien dolisl sed mollis imperdiet mauris. Morbi imperdiet purus 
                | Suspendisse sunt Integer sapien dolor laoreet 
                | Suspendisse sodales Integer sapien dolor  imperdiet tincidunt
                | Suspendisse sodales imper
                | Integer sapien dolor laoreet vel nisl sed mollis imperdiet mauris. Morbi imperdiet purus 
                | Suspendisse sapien dolor laoreet sodales imperdie 
                | Suspendisse sodales imperdiet tincidunt. Integer sapien dolor laoreet vel nisl sed
                | Suspendisse sodales                   
                | Suspendisse sodales imperdiet sapien dolor laoreet vel nisl sed
                | Suspendisse sodales imperdiet
                | Suspendisse sodales imperdiet tincidunt
                | Integer sapien dolor laoreet vel nisl sed mollis imperdiet mauris. Morbi imperdiet purus 
                | Suspendisse sodales imperdiet tincidunt Integer sapien dolor, laoreet
                | Suspendisse sodales imperdiet tincidunt
                | Integer sapien dolisl sed mollis imperdiet mauris. Morbi imperdiet purus 
                | Suspendisse sunt Integer sapien dolor laoreet 
                | Suspendisse sodales Integer sapien dolor  imperdiet tincidunt
                | Suspendisse sodales imper
                | Integer sapien dolor laoreet vel nisl sed mollis imperdiet mauris. Morbi imperdiet purus 
                | Suspendisse sapien dolor laoreet sodales imperdie 
                | Suspendisse sodales imperdiet tincidunt. Integer sapien dolor laoreet vel nisl sed
                | Suspendisse sodales                   
                | Suspendisse sodales imperdiet sapien dolor laoreet vel nisl sed
                | Suspendisse sodales imperdiet                
        .modal-content_footer
            include ../c-button/c-button.pug