/* C-PAGINATION COMPONENT */

.c-pagination {
  a {
    height: 18px;
    font-family: "Benton Sans Medium BBVA";
    font-size: 13px;
    letter-spacing: -0.18px;
    line-height: 18px;
    color: var(--text-pagination);
    cursor: pointer;
  }
}

/* END C-PAGINATION COMPONENT */