.c-card-dashboard
    .row.rowUp
        .col.colUp-left
            img(src="../svg/compass.svg", alt="")
            span Proveedores
        .col.colUp-right
            div
                span.number 7
                span.requests Solicitudes
    .row.rowDown
        .col.colDown
            .status-box
                div
                    span.number 0
                    .status-with-ico
                        i.ico-path-3-1
                        p.with-error Con errores
            .separate-v
            .status-box
                div
                    span.number 1
                    .status-with-ico
                        i.ico-path-3-4
                        p.with-error En proceso
            .separate-v
            .status-box
                div
                    span.number 0
                    .status-with-ico
                        i.ico-path-3-4.green
                        p.with-error Finalizadas
