.c-notifications
    .notifications-arrow
    .notifications-content
        .notifications-header
            span.notifications-title Notificaciones
            //- Below the layout only for GSCF, that includes the slot and the link to Splunk
            //- .splunk-slot
            //-     span Ver en splunk
            //-     img(src="../svg/goto-splunk.svg", alt="Ajustes" tabindex='0', role='button')             
            img(src="../svg/notify-settings.svg", alt="Ajustes" tabindex='0', role='button')
        .notifications-body
            .notifications-slot
                .description
                    span.time-elapsed Hace 12 minutos
                    span.response Respuesta local: Código no reconocido
                    span.file-name BBVAESMO_10001564_201711271449321.txt
                    span.client-name Repsol - ECOPCOBBXXX | 354 órdenes
                .importance-level
                    img(src="../svg/alarm-red.svg", alt="")
            .separate-line
            .notifications-slot
                .description
                    span.time-elapsed Hace 12 minutos
                    span.response Respuesta local: Código no reconocido
                    span.file-name BBVAESMO_10001564_201711271449321.txt
                    span.client-name Repsol - ECOPCOBBXXX | 354 órdenes
                .importance-level
                    img(src="../svg/alarm-sand.svg", alt="")
            .separate-line
            .notifications-slot
                .description
                    span.time-elapsed Hace 12 minutos
                    span.response Respuesta local: Código no reconocido
                    span.file-name BBVAESMO_10001564_201711271449321.txt
                    span.client-name Repsol - ECOPCOBBXXX | 354 órdenes
                .importance-level
                    img(src="../svg/alarm-grey.svg", alt="")
            .separate-line
            .notifications-slot
                .description
                    span.time-elapsed Hace 12 minutos
                    span.response Respuesta local: Código no reconocido
                    span.file-name BBVAESMO_10001564_201711271449321.txt
                    span.client-name Repsol - ECOPCOBBXXX | 354 órdenes
                .importance-level
                    img(src="../svg/alarm-grey.svg", alt="")
            .separate-line
            .notifications-slot
                .description
                    span.time-elapsed Hace 12 minutos
                    span.response Respuesta local: Código no reconocido
                    span.file-name BBVAESMO_10001564_201711271449321.txt
                    span.client-name Repsol - ECOPCOBBXXX | 354 órdenes
                .importance-level
                    img(src="../svg/alarm-red.svg", alt="")
            .separate-line
            .notifications-slot
                .description
                    span.time-elapsed Hace 12 minutos
                    span.response Respuesta local: Código no reconocido
                    span.file-name BBVAESMO_10001564_201711271449321.txt
                    span.client-name Repsol - ECOPCOBBXXX | 354 órdenes
                .importance-level
                    img(src="../svg/alarm-sand.svg", alt="")

