.c-header-accordion
  div
  .accordionHeader-date
    span FECHA
  .accordionHeader-request
    span SOLICITUD RELATIVA A PROVEEDORES
  .accordionHeader-contract
    span CONTRATO
  .accordionHeader-client
    span CLIENTE/BEI
  .accordionHeader-files
    span FICHEROS
  .accordionHeader-lastFile
    span ULTIMO FICHERO
  .accordionHeader-requestStatus
    span ESTADO SOLICITUD