/* C-BUTTON-FILTER COMPONENT */

.c-button-filter {
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i {
      margin-right: 8px;
    }
     span {
       color: var(--fifth);
       line-height: 24px;
       font-size: 13px;
       font-family: "Benton Sans Medium BBVA";
     }
  }

  /* END C-BUTTON-FILTER COMPONENT */