<!-- this "button#myBtn" down here is just for layout purpose -->
<!-- must be deleted in develop -->
button#myBtngeneric Press me to render the modal
#myModalgeneric.c-modal-generic
    .modal-generic_content
        .modal-generic-content_header
            p.c-modal-generic-title Confirma que quieres guardar los cambios realizados y reprocesar el fichero
            span.closegeneric ×
        .modal-generic-content_body
            .icon-file
                img(src="../svg/repro-file.svg", alt="")
            .data-file
                p NINTENDOTST 4453
                span Nintendo España NINTENAXXX
        .modal-generic-content_footer
            include ../c-link/c-link.pug
            include ../c-button/c-button.pug
