/* C-MODAL-GENERIC COMPONENT */

/* this "button#myBtngeneric" down here is just for layout purpose
   must be deleted in develop */
button#myBtngeneric {
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
}
.c-modal-generic {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .modal-generic_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 383px;
    width: 552px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--first);
    padding: 28px;
    border-bottom: 1px solid;
    .modal-generic-content_header {
      min-height: 90px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      .c-modal-generic-title {
        min-width: 480px;
        color: var(--tertiary);
        font-family: "Benton Sans Book BBVA", sans-serif;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
      }
      .closegeneric {
        color: var(--fifth);
        font-size: 30px;
        &:hover,
        &:focus {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .modal-generic-content_body {
      min-height: 170px;
      width: auto;
      overflow: auto;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      .icon-file {
        height: auto;
        width: auto;
        margin-bottom: 18px;
      }
      .data-file {
        text-align: center;
        p {
          font-family: "Benton Sans Medium BBVA";
          color: var(--fifth);
          font-size: 13px;
        }
        span {
          font-family: "Benton Sans BookItalic BBVA";
          font-size: 12px;
          color: var(--tertiary);
        }
      }
    }
    .modal-generic-content_footer {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      .c-link {
        justify-content: unset;
        align-items: unset;
        margin-right: 24px;
      }
      .c-button {
        width: 140px;
      }      
    }
  }
}

/* END OF C-MODAL-GENERIC COMPONENT */
