.c-user-dropdown
    .user-name 
        span.name John Doe
    .user-code 
        span.xe-user XE99666
    .simple-divider
    .language
        span.lan-active(tabindex='0', role='button') Español
        span.lan-inactive(tabindex='0', role='button') English
