.c-global-counter
  div
    include ../c-files-receive/c-files-receive.pug
  .separate--vertical
  div
    include ../c-files-status/c-files-status.pug
  .separate--vertical
  div
    include ../c-files-status/c-files-status.pug
  .separate--vertical
  div
    include ../c-files-status/c-files-status.pug
  .separate--vertical
  div
    include ../c-files-status/c-files-status.pug