.c-file-data
    .flex.flex-justify-between
        dl
            .flex
                dt Cliente:
                dd Iberdrola
            .flex
                dt Estado:
                dd.status--rejected Cancelado el 16/01/2020
        dl
            .flex
                dt Destino:
                dd México
            .flex
                dt F. Recibido:
                dd 15 Ene. 2020
        dl
            .flex
                dt Servicio:
                dd HST- Pago a proveedores
            .flex
                dt Formato:
                dd Pain.001.001.03              
        dl
            .flex
                dt Canal:
                dd FTPS
            .flex
                dt ID Fichero:
                dd 9946713