.c-filter-dropdown
    .row.margin-bottom_20.flex.flex-justify-between
        .col-3.margin-right_40
            include ../c-select/c-select.pug
        .col-3.margin-right_40
            include ../c-dropdown/c-dropdown.pug
        .col-2.margin-right_40
            include ../c-select/c-select.pug
        .col-3
            include ../c-select/c-select.pug
    .row.margin-bottom_20.flex.flex-justify-between
        .col-4.inline-flex.margin-right_40
            div
                include ../c-input/c-input.pug
            div
                include ../c-input/c-input.pug
        .col-2.margin-right_40
            include ../c-select/c-select.pug
        .col-3.margin-right_40
            include ../c-select/c-select.pug
        .col-2
            include ../c-select/c-select.pug
    .row.flex-justify-end
        div.margin-right_40.inline-flex.flex-align-center
            include ../c-link/c-link.pug
        div
            include ../c-button/c-button.pug