.c-no-data
  div
    img(src="../svg/micro.svg", alt="No results")
  div
    span No hay resultados  
  div
    span intenta buscar con otros datos
  p 
    | Lorem Ipsum dolor lorem ipsum, ipsum dolor lorem ipsum   