<!-- this "button#myBtn" down here is just for layout purpose -->
<!-- must be deleted in develop -->
button#myBtnDocumentation Press me to render the modal
#myModalDocumentation.c-modal-documentation
    .modal-documentation-content
        .modal-documentation-content_header
            p.c-modal-documentation-title Documentación asociada
            span.closeDocumentation ×
        .modal-documentation-content_body
            .document
                .document-left
                    span documento.pdf
                .document-right
                    i.ico-show
                    i.ico-download
            .document
                .document-left
                    span documento.pdf
                .document-right
                    i.ico-show
                    i.ico-download
            .document
                .document-left
                    span documento.pdf
                .document-right
                    i.ico-show
                    i.ico-download
            .document
                .document-left
                    span documento.pdf
                .document-right
                    i.ico-show
                    i.ico-download
            .document
                .document-left
                    span documento.pdf
                .document-right
                    i.ico-show
                    i.ico-download
        .modal-documentation-content_footer
            include ../c-button/c-button.pug
