/* C-MODAL-ASSOC-DOC COMPONENT */

/* this "button#myBtngeneric" down here is just for layout purpose
   must be deleted in develop */
button#myBtnAssocDoc {
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
}
.c-modal-assoc-doc {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .modal-assoc-doc_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 752px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--first);
    padding: 32px;
    border-bottom: 1px solid;
    .modal-assoc-doc-content_header {
      min-height: 60px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      .c-modal-assoc-doc-title {
        width: 100%;
        color: var(--tertiary);
        font-family: "Benton Sans Book BBVA", sans-serif;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        padding-top: 8px;
      }
      .closeAssocDoc {
        color: var(--fifth);
        font-size: 30px;
        &:hover,
        &:focus {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .modal-assoc-doc-content_body {
      min-height: 150px;
      margin-bottom: 20px;
      width: auto;
      overflow: auto;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      .assoc-doc-box {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 40px;
        width: 100%;
        background-color: var(--backgound-second);
        margin-bottom: 8px;
        padding: 10px 16px;
        .assoc-doc-name {
          color: var(--data-first);
          font-family: "Benton Sans Light BBVA", sans-serif;
          font-size: 13px;
        }
      }
    }
    .modal-assoc-doc-content_footer {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      justify-content: flex-end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      .c-button {
        width: 130px;
      }
    }
  }
}

/* END OF C-MODAL-ASSOC-DOC COMPONENT */
