table.c-table-activity-log
  tbody
    tr.th-table
      th
        p Actividad
      th
        p Fecha
      th
        p Hora
    tr
      td 
        p.file-name BUYERH2H001_MX_2012247211.TSIN
      td 
        p 05/08/2020
      td 
        p 22.01.03
    tr
      td
        p Lorem Ipsum
      td
        p 05/08/2020
      td
        p 22.01.03
    tr
      td
        p Lorem Ipsum Dolor
      td 
        p 05/08/2020
      td 
        p 22.01.03
    tr
      td 
        p KO
      td 
        p 05/08/2020
      td 
        p 22.01.10
      td