//-Layout for respuestas.pug / respuestas.html view
doctype html
html(lang='en')
  head
    include components/head-content/head-content.pug
  body
    header
      include components/c-header/c-header.pug
    section.subHeader
      include components/c-subheader/c-subheader.pug
    section.app__container
      include components/c-table-header/c-table-header.pug
      include components/c-accordion-files/c-accordion-files.pug
      include components/c-accordion-files/c-accordion-files.pug
    include components/c-footer/c-footer.pug
include js/c-select-js.pug
include js/c-dropdown-js.pug
include js/c-accordion-js.pug