<!-- this "button#myBtnConfirmOrder" down here is just for layout purpose -->
<!-- must be deleted in develop -->
button#myBtnConfirmOrder Press me to render the modal
#myModalConfirmOrder.c-modalConfirmOrder
    .modal-confirm-content
        .modal-confirm-content_msg
            img(src="../svg/success.svg", alt="")
            p Se han cancelado 2 órdenes correctamente que quedan pedientes de autorizar.
        .modal-confirm-content_close
            span.closeConfirmOrder ×