.c-global-counter
  //- Restore those 3 divs - DON'T COMMIT THIS
  //- div
  //-   include ../c-files-receive/c-files-receive.pug
  //- .separate--vertical
  //- div
  //-   include ../c-files-status/c-files-status.pug
  //- .separate--vertical
  //- div
  //-   include ../c-files-status/c-files-status.pug
  //- .separate--vertical
  
  
  div
    include ../c-files-status/c-files-status.pug
  .separate--vertical
  div
    include ../c-files-status/c-files-status.pug