.c-tab-menu-traceability
    div.traceability--active
        button
            span Entrada
            p Cliente - Banco
    div
        button
            span Salida
            p Banco - Cliente
    div