script.
    var modalattach = document.getElementById("myModalattach");
    var btnattach = document.getElementById("myBtnattach");
    var spanattach = document.getElementsByClassName("closeattach")[0];
    btnattach.onclick = function() {
        modalattach.style.display = "block";
    }
    spanattach.onclick = function() {
        modalattach.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modalattach) {
            modal.style.display = "none";
        }
    }