script.
    var modaldoc = document.getElementById("myModalDocumentation");
    var btndoc = document.getElementById("myBtnDocumentation");
    var spandoc = document.getElementsByClassName("closeDocumentation")[0];
    btndoc.onclick = function() {
        modaldoc.style.display = "block";
    }
    spandoc.onclick = function() {
        modaldoc.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modaldoc) {
            modaldoc.style.display = "none";
        }
    }