.c-clients-management
    .grid-cm-header 
        h2 Tus clientes
            span (8)
        .close-clients(tabindex='0', role='button')
            i.ico-close
            span Cerrar
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-1.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client Name
                    p.code-client ClientMMXX
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-2.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client Name
                    p.code-client ClientXXH2h2
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-3.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client
                    p.code-client ClientMMXX
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-4.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client
                    p.code-client ClientMMXX
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-2.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client 
                    p.code-client ClientMMXX
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-3.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client Name
                    p.code-client ClientMMXX
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-cel
        .client-tag
            .area-tag-left
                .ico-edit-client
                    img(src="../svg/move-tag.svg", alt="Mover ficha de cliente")
                .ico-clients
                    img(src="../svg/dummie-client-4.svg", alt="Nombre de cliente")
                .name-client-box
                    p.name-client Client Name
                    p.code-client ClientXXH2h2
            .area-tag-right
                .delete-client(tabindex='0', role='button')
                    i.ico-close
    .grid-cm-empty.flex-asis
        span Agregar cliente


.c-clients-list
    .grid-clients-list-header
        h2 Listado de clientes
            span (300)
        .client-search
            include ../c-search/c-search.pug
    .grid-client-list
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Iberdrola - IBERESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Nintendo - NINTENAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Repsol - REPYESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Sanitas - SANIXXXH2H
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Endesa - ENDEESMAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Carrefour - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Mercadona - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Iberdrola - IBERESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Nintendo - NINTENAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Repsol - REPYESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Sanitas - SANIXXXH2H
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Endesa - ENDEESMAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Carrefour - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Mercadona - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI    
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Iberdrola - IBERESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Nintendo - NINTENAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Repsol - REPYESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Sanitas - SANIXXXH2H
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Endesa - ENDEESMAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Carrefour - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Mercadona - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Iberdrola - IBERESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Inditex - INDIESCOXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Nintendo - NINTENAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Repsol - REPYESMMXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Sanitas - SANIXXXH2H
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Endesa - ENDEESMAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Carrefour - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Mercadona - MERCESVAXXX
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
        .grid-clients-list-cel
            .c-checkbox
                input#checkmark(type="checkbox")
                label(for='checkmark') Cliente X - BEI
    .grid-client-footer
        //-classes for status button: '.c-button--enabled' or '.c-button--disabled'
        .c-button.c-button--enabled
            span Aplicar