.contextual-dropdown
    .ico-dropdown.kebab(onclick='contextualFunction()')
    #contextualDropdown.contextual-dropdown-content
        .arrow-up
        .list-elements
            .element(tabindex='0', role='button')
                .ico-element
                    img(src="../svg/Show.svg", alt="")
                span Lorem ipsum dolo
            .element(tabindex='0', role='button')
                .ico-element
                    img(src="../svg/file-xml.svg", alt="")
                span Lorem ipsum dol
            .element(tabindex='0', role='button')
                .ico-element
                    img(src="../svg/associated-response.svg", alt="")
                span Lorem ipsum dolor
