.c-files-detail
    .dl-title Global Hub
    .flex.flex-justify-between
        dl
            .flex
                dt ID One Bank:
                dd 2685346
            .flex
                dt Servicio:
                dd Pago a proveedores
            .flex.end
                dt Nº cheque emitido
                dd --
        dl
            .flex
                dt Método de pago:
                dd TRF
            .flex
                dt Importe abonados:
                dd 2.000
            .flex.end
                dt GPI:
                dd No
        dl.last
            .flex
                dt Comisiones:
                dd 3.56
            .flex
                dt Tipo de comisión:
                dd Debt.
            .flex.end
                dt UETR:
                dd 74abb8f3-3899-437f-b271-a388628035f8              
    hr
    p Fichero local
        span 00254128  