ul.c-tab-menu
    li.first
        button Menu tabs
        .c-tab-menu-border
    li.li--active
        button Menu tabs
        .c-tab-menu-border
    li
        button Menu tabs
        .c-tab-menu-border
    li.last
        button Menu tabs
        .c-tab-menu-border                