//- HEADER ACCORDION-BILL-GSCF-//
.c-header-accordion-bill-gscf.flex-justify-between
  .filler
  .accordion-header-byer
    span ID FACTURA BUYER/BEI
  .accordion-header-supplier
    span ID FACTURA SUPPLIER/SUPPLIER
  .accordion-header-amount
    span IMPORTE
  .accordion-header-currency
    span DIVISA
  .accordion-header-due
    span ENVÍO/VENCIMIENTO
  .accordion-header-answer
    span RESPUESTA DEMICA
  .accordion-header-type
    span TIPO
  .accordion-header-status
    span ESTADO            
//- END HEADER ACCORDION-BILL-GSCF-//

//- ACCORDION ACCORDION-BILL-GSCF-//
.c-accordion-bill-gscf.flex.flex-justify-between
  .accordion-bill-gscf-expand
    i.ico-expand
  .accordion-byer
    span SDFHGSF7734239829
    p REP00234
  .accordion-supplier
    span Argentina
  .accordion-amount
    span SWIFT
    p pain.002.001.03
  .accordion-currency
    span 16/01/2020
    p 17:47
  .accordion-due
    span Lorem
    p Ispum dolor
  .accordion-answer
    span Lorem
    p Ispum dolor
  .accordion-type
    span Lorem
    p Ispum dolor
  .accordion-status
    span.accordion-status_rejected Pendientes
    p Pago a vencimiento pendiente           
.panel Contents
  
//- END ACCORDION ACCORDION-BILL-GSCF-//