
<div class="c-header-accordion-bill-gscf flex-justify-between">
  <div class="filler"></div>
  <div class="accordion-header-byer"><span>RESPUESTA CLIENTE</span></div>
  <div class="accordion-header-supplier"><span>FICHERO</span></div>
  <div class="accordion-header-amount"><span>CANAL/FORMATO</span></div>
  <div class="accordion-header-currency"><span>FECHA CREACIÓN</span></div>
  <div class="accordion-header-due"><span>ESTADO</span></div>
  <div class="accordion-header-answer"><span>ESTADO</span></div>
  <div class="accordion-header-type"><span>ESTADO</span></div>
  <div class="accordion-header-status"><span>ESTADO</span></div>
</div>
<div class="c-accordion-bill-gscf flex flex-justify-between">
  <div class="accordion-bill-gscf-expand"><i class="ico-expand"></i></div>
  <div class="accordion-buyer"><span>CLIENTSWIFT_AR_PAP_PE037_20200528.CAN_202005281134_CAN_202005281134_XML</span></div>
  <div class="accordion-supplier"><span>Argentina</span></div>
  <div class="accordion-amount"><span>SWIFT</span>
    <p>pain.002.001.03</p>
  </div>
  <div class="accordion-currency"><span>16/01/2020</span>
    <p>17:47</p>
  </div>
  <div class="accordion-due"><span class="accordion-status_inprocess">Generación de Respuesta compleja OK</span>
    <p>Recibido por el cliente</p>
  </div>
  <div class="accordion-answer"><span class="accordion-status_inprocess">Generación de Respuesta compleja OK</span>
    <p>Recibido por el cliente</p>
  </div>
  <div class="accordion-type"><span class="accordion-status_inprocess">Generación de Respuesta compleja OK</span>
    <p>Recibido por el cliente</p>
  </div>
  <div class="accordion-status"><span class="accordion-status_inprocess">Generación de Respuesta compleja OK</span>
    <p>Recibido por el cliente</p>
  </div>    
</div>
<div class="panel">Contents</div>