//- HEADER ACCORDION-BILL-GSCF-//
.c-header-accordion-bill-gscf.flex-justify-between
  .filler
  .accordion-header-byer
    span ID FACTURA BUYER/BEI
  .accordion-header-supplier
    span ID FACTURA SUPPLIER/SUPPLIER
  .accordion-header-amount
    span IMPORTE
  .accordion-header-currency
    span DIVISA
  .accordion-header-due
    span ENVÍO/VENCIMIENTO
  .accordion-header-answer
    span RESPUESTA DEMICA
  .accordion-header-type
    span TIPO
  .accordion-header-status
    span ESTADO            
//- END HEADER ACCORDION-BILL-GSCF-//

//- ACCORDION ACCORDION-BILL-GSCF-//
.c-accordion-bill-gscf.flex.flex-justify-between
  .accordion-bill-gscf-expand
    i.ico-expand
  .accordion-byer
    span SDFHGSF7734239829
    p REP00234
  .accordion-supplier
    span SDFHGSF7734239829NPR
    p Depósitosmex, S.A.
  .accordion-amount
    span 250.450,45
  .accordion-currency
    span MXN
  .accordion-due
    span 21/07/2020
    p 21/08/2020
  .accordion-answer
    span 21/08/2020
  .accordion-type
    span Factura
  .accordion-status
    span.accordion-status_rejected Rechazada
    p Pago a vencimiento rechazado           
.panel Contents
  
//- END ACCORDION ACCORDION-BILL-GSCF-//