.c-history-traceability
  .header-historyTrazeability
    .header-historyTrazeability_title 
      span Histórico de trazabilidad del fichero cliente
    .info-ico-colors
      img(src="../svg/status-in-process.svg", alt="Validación ficheros")
      span Validación ficheros
      img(src="../svg/status-sent.svg", alt="Creación ficheros")
      span Creación ficheros
    .btn-show-hyde(tabindex='0', role='button')
      i.ico-fold
      span Ocultar histórico
  table
    tbody
      tr.th-table
        th 
        th 
          p Descripción
        th 
          p Fecha
        th 
          p Hora
        th 
          p Respuesta a cliente        
        th 
          p Recibido a cliente
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-validated.svg", alt="")
            span.dashed-line
        td 
          p Envío de ficheros 2 de 2 de Argentina
        td 
          p 12.02.2020
        td 
          p 11:01
        td
          p -
        td
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-in-process.svg", alt="")
            span.dashed-line
        td 
          p Agrupaciónn de ficheros a país Argentina
        td 
          p 12.02.2020
        td 
          p 13:00
        td
          p.client-file PAIN0101_IBDLES2B_BBVAESMM_2020011980098…
        td
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-in-process.svg", alt="")
            span.dashed-line
        td
          .flex.flex-align-center
            i.ico-expand
            p.margin-top_10.margin-bottom_10 Creación de f.local 
              span.file-number 307290
              | (1 de 2) a Argentina
        td 
          p 12.02.2020
        td 
          p 11:30
        td
          p.client-file PAIN0101_IBDLES2B_BBVAESMM_2020011980098…
        td
          img(src="../svg/filled-table.svg", alt="Recibido" tabindex='0', role='button')
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-in-process.svg", alt="")
            span.dashed-line
        td
          .flex.flex-align-center
            i.ico-expand
            p.margin-top_10.margin-bottom_10 Creación de f.local 
              span.file-number 307290
              | (1 de 2) a Argentina
          p.subtitle Creación de ficheros locales para Argentina
        td 
          p 12.02.2020
        td 
          p 11:30
        td
          p.client-file PAIN0101_IBDLES2B_BBVAESMM_2020011980098…
        td
          img(src="../svg/filled-table.svg", alt="Recibido" tabindex='0', role='button')        
          
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-sent.svg", alt="")
            span.dashed-line
        td 
          p Comprobación nombre OK
        td 
          p 12.02.2020
        td 
          p 11:20
        td
          p.client-file PAIN0101_IBDLES2B_BBVAESMM_2020011980098…      
        td
          
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-sent.svg", alt="")
            span.dashed-line
        td 
          p.margin-top_10.margin-bottom_10 Recuperación contratación migrado S/N
          p.subtitle Creación de ficheros locales para Argentina
        td 
          p 12.02.2020
        td 
          p 11:01
        td
          p -
        td
      
      tr
        td.flex
          .flex-column.flex-align-center
            img(src="../svg/status-sent.svg", alt="")
        td 
          p Comprobación en GMM OK
        td 
          p 12.02.2020
        td 
          p 11:01
        td
          p -
        td      
        