.label_c-select Lorem Ipsum
.dropdown
    button.dropbtn(onclick='myFunction()') Seleccionar Ipsum
    #myDropdown.dropdown-content
        .c-select-search
            include ../c-search/c-search.pug
            a.first-child(href='#')
                p.client Inditex
                span.code Inditexxh2h
            a(href='#')
                p.client Repsol
                span.code repyesmmxxx
            a(href='#')
                p.client Iberdrola
                span.code iberesmmxxx
            a(href='#')
                p.client Inditex
                span.code Inditexxh2h
            a(href='#')
                p.client Repsol
                span.code repyesmmxxx
            a(href='#')
                p.client Iberdrola
                span.code iberesmmxxx
            a(href='#')
                p.client Inditex
                span.code Inditexxh2h
            a(href='#')
                p.client Repsol
                span.code repyesmmxxx
            a(href='#')
                p.client Iberdrola
                span.code iberesmmxxx                         


