.c-accordion
  .accordion-expand
    i.ico-expand
  .accordion-date
    span FECHA
    p 15:10
  .accordion-request
    span SFGSDDSUWN_MX_36914983_IMPORT.CSV
  .accordion-contract
    span 12345678A
  .accordion-client
    span REPSOL
    p REP00234
  .accordion-files
    span 5
  .accordion-lastFile
    span Fichero Demica
  .accordion-requestStatus
    span.accordion-requestStatus--error con errores
  .accordion-alert
    i.ico-alert
.panel
  include ../c-output-files/c-output-files.pug
