//- HEADER ACCORDION-RESPONSE-//
.c-header-accordion-response.flex-justify-between
  .filler
  .accordion-header-client
    span RESPUESTA CLIENTE
  .accordion-header-file
    span FICHERO
  .accordion-header-channel
    span CANAL/FORMATO
  .accordion-header-date
    span FECHA CREACIÓN
  .accordion-header-status
    span ESTADO
  .filler
//- END HEADER ACCORDION-RESPONSE-//

//- ACCORDION ACCORDION-RESPONSE-//
.c-accordion-response.flex.flex-justify-between
  .accordion-response-expand
    i.ico-expand
  .accordion-client
    span CLIENTSWIFT_AR_PAP_PE037_20200528.CAN_202005281134_CAN_202005281134_XML
  .accordion-file
    span Argentina
  .accordion-channel
    span SWIFT
    p pain.002.001.03
  .accordion-date
    span 16/01/2020
    p 17:47
  .accordion-status
    span.accordion-status_inprocess Generación de Respuesta compleja OK
    p Recibido por el cliente
  .accordion-dots
    i.ico-configuration
.panel Contents
  
//- END ACCORDION ACCORDION-RESPONSE-//