.label_c-dropdown Lorem Ipsum
.c-dropdown
    button.dropbtn(onclick='dropdownFunction()') Seleccionar Ipsum
    #checkboxDropdown.c-dropdown_content
        .countryList
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug
            .country
                include ../c-checkbox/c-checkbox.pug                                               
