.c-alert-modifier
    .c-alert-modifier_container
        .c-alert-modifier_left
            i.ico-close
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .c-alert-modifier_right
            include ../c-link/c-link.pug