.c-datepicker
    .row.calendar-container
        .col-6.calendar-1
            .month-cal-1
                ul
                    li.prev(tabindex='0', role='button')
                        i.ico-roundBack(tabindex='0', role='button')
                    li
                        | Enero
                        span 2020
                        i.ico-unfold(tabindex='0', role='button')
            ul.weekdays
                li L
                li M
                li X
                li J
                li V
                li S
                li D
            .days
                .frame-day
                    span 1
                .frame-day 
                    span 2
                .frame-day 
                    span 3
                .frame-day 
                    span 4
                .frame-day 
                    span 5
                .frame-day 
                    span 6
                .frame-day 
                    span 7
                .frame-day 
                    span 8
                .frame-day 
                    span 9
                .frame-day
                    span 10
                .frame-day 
                    span 11
                .frame-day 
                    span 12
                .frame-day 
                    span 13
                .frame-day 
                    span 14
                .frame-day 
                    span 15
                .frame-day 
                    span 16
                .frame-day 
                    span 17
                .frame-day 
                    span 18
                .frame-day 
                    span 19
                .frame-day 
                    span 20
                .frame-day.active
                    span 21
                .frame-day.selected
                    span 22
                .frame-day.selected
                    span 23
                .frame-day.selected
                    span 24
                .frame-day.selected
                    span 25
                .frame-day.selected
                    span 26
                .frame-day.selected
                    span 27
                .frame-day.selected
                    span 28
                .frame-day.selected
                    span 29
                .frame-day.selected
                    span 30
                .frame-day.selected
                    span 31

        .col-6.calendar-2
            .month-cal-2
                ul
                    li.next(tabindex='0', role='button')
                        i.ico-roundNext(tabindex='0', role='button')
                    li
                        | Enero
                        span 2020
                        i.ico-unfold(tabindex='0', role='button')
            ul.weekdays
                li L
                li M
                li X
                li J
                li V
                li S
                li D
            .days
                .frame-day.selected
                    span 1
                .frame-day.selected
                    span 2
                .frame-day.selected 
                    span 3
                .frame-day.selected 
                    span 4
                .frame-day.selected 
                    span 5
                .frame-day.selected 
                    span 6
                .frame-day.selected 
                    span 7
                .frame-day.selected
                    span 8
                .frame-day.selected
                    span 9
                .frame-day.active
                    span 10
                .frame-day 
                    span 11
                .frame-day 
                    span 12
                .frame-day 
                    span 13
                .frame-day 
                    span 14
                .frame-day 
                    span 15
                .frame-day 
                    span 16
                .frame-day 
                    span 17
                .frame-day 
                    span 18
                .frame-day 
                    span 19
                .frame-day
                    span 20
                .frame-day 
                    span 21
                .frame-day 
                    span 22
                .frame-day
                    span 23
                .frame-day 
                    span 24
                .frame-day 
                    span 25
                .frame-day 
                    span 26
                .frame-day 
                    span 27
                .frame-day 
                    span 28
                .frame-day 
                    span 29
                .frame-day 
                    span 30
                .frame-day 
                    span 31
    hr
    .row
        .col
            .calendar-nav
                .select-days
                    ul.day-navigation
                        li.first
                            span Hoy
                        li
                            span Ayer
                        li
                            span Ultimos 7 días
                        li.last
                            span Ultimos 30 días
                
                .accept-days
                    include ../c-button/c-button.pug