.c-traceability-country
  .c-traceability-country_title
    span Histórico de trazabilidad del fichero cliente
    .btn-show-hyde(tabindex='0', role='button')
      i.ico-show
      span Visualizar fichero
  .table-header
    .th-icon
    .th-description
      p Descripcion
    .th-date
      p Fecha
    .th-time
      p Hora
    .th-files
      p Ficheros generados
    .th-send
      p enviado cliente
  
  .t-table-row
    .col-icon
      .bullet--received
      .dashed-line
    .col-description
      p Inicio del procesamiento en País OK
    .col-date
      p 15/01/2020
    .col-time
      p 07:43
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--sent
      .dashed-line
    .col-description
      p Inicio de procesamiento en país
    .col-date
      p 15/01/2020
    .col-time
      p 08:40
    .col-files
    .col-send    

  .t-table-row
    .col-icon
      .bullet--validated
      .dashed-line      
    .col-description
      p Recepción de respuesta local 
        span R11 
    .col-date
      p 15/01/2020
    .col-time
      p 10:51
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--validated
      .dashed-line
    .col-description
      p Validación de formato sintáctico OK
    .col-date
      p 15/01/2020
    .col-time
      p 20:04
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--validated
      .dashed-line
    .col-description
      p Recepción de respuesta local 
        span R41 
    .col-date
      p 15/01/2020
    .col-time
      p 20:08
    .col-files
    .col-send
  
  .t-table-row
    .col-icon
      .bullet--validated
      .dashed-line
    .col-description
      p Validación formato servicios OK
    .col-date
      p 16/01/2020
    .col-time
      p 20:15
    .col-files
    .col-send
  
  .t-table-row
    .col-icon
      .bullet--validated
      .dashed-line      
    .col-description
      p Recepción de respuesta local 
        span R61 
    .col-date
      p 15/01/2020
    .col-time
      p 12:45
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--validated
      .dashed-line      
    .col-description
      p Ejecutado aplicativo
    .col-date
      p 15/01/2020
    .col-time
      p 13:00
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--received 
    .col-description
      p Recepción de respuesta local 
        span R71
    .col-date
      p 12/07/2020
    .col-time
      p 18:50
    .col-files
    .col-send

  .t-table-row
    .col-icon
    .col-description 
    .col-date
      p 15/01/2020
    .col-time
      p 07:09
    .col-files
      p R_pain002__86620200116174728.pain.002.001.03
    .col-send.checked