.c-alert
    .c-alert_container
        .c-alert_body
            i.ico-alert
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .c-alert_footer
            include ../c-button/c-button.pug
