.c-traceability-customer
  .c-traceability-customer_title
    span Histórico de trazabilidad del fichero cliente
    .btn-show-hyde(tabindex='0', role='button')
      i.ico-fold
      span Ocultar histórico
  .table-header
    .th-icon
    .th-description
      p Descripcion
    .th-date
      p Fecha
    .th-time
      p Hora
    .th-files
      p Ficheros generados
    .th-send
      p enviado cliente
  
  .t-table-row
    .col-icon
      .bullet--received
      .dashed-line
    .col-description
      p Recepción en GMM OK
    .col-date
      p 15/01/2020
    .col-time
      p 07:09
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .dashed-line
    .col-description
    .col-date
      p 15/01/2020
    .col-time
      p 07:09
    .col-files
      p RESP10ddg3457ijghE01-2/001/0111.DAT
    .col-send.checked

  .t-table-row
    .col-icon
      .bullet--intermediate_info
      .dashed-line
    .col-description
      p Recuperación contratación migrado S/N
    .col-date
      p 15/01/2020
    .col-time
      p 07:09
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .dashed-line
    .col-description
      p.description-file Validación fichero cliente
    .col-date
    .col-time
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--intermediate_info
      .dashed-line
    .col-description
      p Comprobación contrat. comunica GMC S/N
    .col-date
      p 15/01/2020
    .col-time
      p 08:10
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--intermediate_info
      .dashed-line
    .col-description
      p Comprobación nombre OK
    .col-date
      p 15/01/2020
    .col-time
      p 08:15
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .dashed-line
    .col-description
    .col-date
      p 15/01/2020
    .col-time
      p 08:10
    .col-files
      p RESP10ddg3457ijghE01-2/001/0111.DAT   
    .col-send.checked

  .t-table-row
    .col-icon
      .dashed-line
    .col-description
      p.description-file Creación ficheros locales para Argentina
    .col-date
    .col-time
    .col-files
    .col-send
  
  .t-table-row
    .col-icon
      .bullet--intermediate
      .dashed-line
    .col-description
      p Creación de f.local 
        span 307290 
        | (1 de 2 a Argentina)
    .col-date
      p 15/01/2020
    .col-time
      p 09:34
    .col-files
    .col-send
  
  .t-table-row
    .col-icon
      .bullet--intermediate
    .col-description
      p Creación de f.local 
        span 307291 
        | (2 de 2 a Argentina)
    .col-date
      p 15/01/2020
    .col-time
      p 10:51
    .col-files
    .col-send
  
  .t-table-row
    .col-icon
      .bullet--intermediate
    .col-description
      p Agrupacion de ficheros a país Argentina
    .col-date
      p 15/01/2020
    .col-time
      p 12:45
    .col-files
    .col-send

  .t-table-row
    .col-icon
      .bullet--correct
    .col-description
      p Envío de ficheros 2 de 2 a Argentina
    .col-date
      p 15/01/2020
    .col-time
      p 13:00
    .col-files
    .col-send