/* C-TRACEABILITY-CUSTOMER */
.c-traceability-customer {
  width: 100%;
  margin-bottom: 40px;
  .c-traceability-customer_title {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 10px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    span {
      color: var(--tertiary);
    }
    .btn-show-hyde {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      cursor: pointer;
      outline: none;
      span {
        color: var(--fifth);
        font-family: "Benton Sans Medium BBVA", sans-serif;
        font-size: 13px;
      }
      .ico-fold {
        margin-right: 5px;
        font-size: 18px;
      }
    }
  }
  .table-header {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    height: 34px;
    border-bottom: 1px solid var(--fourth);
    margin-bottom: 17px;
    .th-icon,
    .th-description,
    .th-date,
    .th-time,
    .th-files,
    .th-send {
      p {
        font-family: "Benton Sans Light BBVA", sans-serif;
        color: var(--tertiary);
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .th-icon {
      width: 22px;
      height: 20px;
      margin: 0 10px 0 6px;
    }
    .th-description {
      width: 40%;
    }
    .th-date {
      width: 10%;
    }
    .th-time {
      width: 6%;
    }
    .th-files {
      width: 29%;
    }
    .th-send {
      width: 15%;
    }
  }
  .t-table-row {
    width: 100%;
    height: 31px;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    .col-icon,
    .col-description,
    .col-date,
    .col-time,
    .col-files,
    .col-send {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      p {
        font-family: "Benton Sans Medium BBVA", sans-serif;
        color: var(--tertiary);
        font-size: 12px;
        line-height: 20px;
        &.description-file {
          color: var(--fifth);
          font-style: italic;
          font-weight: 500;
        }
        span {
          color: var(--fifth);
        }
      }
    }
    .col-icon {
      flex-direction: column;
      align-items: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      height: inherit;
      float: left;
      width: 22px;
      margin: 0 10px 0 6px;
      margin-top: 2px;
      .bullet {
        &--received,
        &--intermediate_info,
        &--intermediate,
        &--correct {
          background-repeat: no-repeat;
          background-origin: content-box;
          display: inline-table;
          width: 16px;
          height: 16px;
        }
        &--received {
          background-image: url(../../svg/status-recibed.svg);
        }
        &--intermediate_info {
          background-image: url(../../svg/status-intermediate-info.svg);
        }
        &--intermediate {
          background-image: url(../../svg/status-intermediate.svg);
        }
        &--correct {
          background-image: url(../../svg/status-correct.svg);
        }
      }
      .dashed-line {
        height: 100%;
        border: 1px dashed var(--border-dashed);
        box-sizing: border-box;
      }
    }
    .col-description {
      width: 40%;
      flex-direction: column;
    }
    .col-date {
      width: 10%;
      flex-direction: column;
    }
    .col-time {
      width: 6%;
      flex-direction: column;
    }
    .col-files {
      width: 29%;
      flex-direction: column;
      p {
        color: var(--fifth);
      }
    }
    .col-send {
      width: 15%;
      &.checked {
        background-image: url(../../svg/filled-table.svg);
        background-repeat: no-repeat;
        background-origin: content-box;
        display: inline-table;
        height: 19px;
      }
    }
  }
}
/* END C-TRACEABILITY-CUSTOMER  */
