/* C-BUTTON COMPONENT */

.c-button {
  border-radius: 1px;
  height: 48px;
  width: 177px;
  font-family: "Benton Sans Medium BBVA", sans-serif;
  font-size: 14px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.c-button--enabled{
    cursor: pointer;
    background-color: var(--fifth);
    color: var(--first);

    &:hover {
      background-color: var(--bground-fifth-over);
    }
  }

  &.c-button--disabled{
    background-color: var(--sixth);
    color: var(--fourth);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}


/* END C-BUTTON COMPONENT */ 
