.c-order-selected
    .c-order-selected_container
        .c-order-selected_left
            i.ico-close
            p Lorem Ipsum dolor sic
                span lorem dolor ipsum
        .c-order-selected_right
            .item-files-attached(tabindex='0', role='button')
                i.ico-attached
                span Has adjuntado 3 archivos
            .item-modify-data(tabindex='0', role='button')
                i.ico-calendar
                span Modificar fecha
            .item-cancel-order(tabindex='0', role='button')
                i.ico-trash
                span Cancelar órdenes


