.subHeader__container
  //-.row.margin-bottom_25
    .col
      include ../c-link/c-link.pug
  .flex.margin-bottom_8
    div
      include ../c-title/c-title.pug
    div
      include ../c-tag/c-tag.pug
  .row
    .col
      include ../c-update/c-update.pug
  .row.margin-top_20
    .col
      include ../c-file-data/c-file-data.pug
  .row
    .col
      include ../c-menu-traceability/c-menu-traceability.pug
  .row
    .col
      include ../c-file-card/c-file-card.pug      
  //-.row.flex-justify-between
    div
      include ../c-date-filter/c-date-filter.pug
      //-include ../c-datepicker/c-datepicker.pug
    div
      include ../c-global-counter/c-global-counter.pug
  //-.row
    .col
      include ../c-confirm-modify-ejec-date/c-confirm-modify-ejec-date.pug
  //-.row
    .col
      include ../c-clients-management/c-clients-management.pug
