.subHeader__container
  .flex.margin-bottom_8
    div
      include ../c-title/c-title.pug
    div.two-fifths-width
      include ../c-tag/c-tag.pug
    //- Added "Ver historial de Trazabilidad" icon and c-link
    //- only if it will be necessary    
    div.full-width
      .float-right
        include ../c-link/c-link.pug
  .row
    .col
      include ../c-update/c-update.pug
  .row.margin-top_20
    .col
      include ../c-file-data/c-file-data.pug
  .row
    .col
      include ../c-menu-traceability/c-menu-traceability.pug
  .row
    .col
      include ../c-file-card/c-file-card.pug  
  //- Added "Ver historial de Trazabilidad" icon and c-link
  //- only if it will be necessary
  .row
    .col
      .flex.flex-justify-end
        include ../c-link/c-link.pug
