include ../c-table-header/c-table-header.pug
.hr-table-customer
table.c-table-order
  tbody
    tr.th-table
      th 
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      th 
        p id orden
      th 
        p cta.beneficiaria
      th 
        p f.ejecución
      th 
        p último estado en global hub
      th 
        p tipo de pago
      th.last 
        p importe
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td 
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR
    tr
      td.td-dropdown(colspan='7')
        include ../c-table-order-dropdown/c-table-order-dropdown.pug
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td 
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td 
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td 
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td 
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td 
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td 
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td 
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td 
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td 
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR
    tr
      td
        .c-checkbox
          input#checkmark(type="checkbox")
          label(for='checkmark')
      td 
        p.num-order 10221605PackARPE01-2/001/0111
      td 
        p ****1122
      td 
        p 15/01/19
      td 
        p Programado
      td 
        p CIE
      td.last
        p.amount 2.000,00  EUR