.c-traceability-response
  .table-header
    .th-icon
    .th-description
      p Descripcion
    .th-date
      p Fecha
    .th-time
      p Hora
    .th-canal
      p Canal
    .th-send
      p enviado cliente
  
  .t-table-row
    .col-icon
      .bullet--sent
      .dashed-line
    .col-description
      p Recepci贸n de respuesta SWIFT OK
    .col-date
      p 02/12/2020
    .col-time
      p 11:01
    .col-canal
        p -    
    .col-send

  .t-table-row
    .col-icon
      .bullet--in-process
      .dashed-line
    .col-description
      p Inicio configuraci贸n channeling
    .col-date
      p 02/12/2020
    .col-time
      p 11:20
    .col-canal
        p -
    .col-send

  .t-table-row
    .col-icon
      .bullet--in-process
      .dashed-line
    .col-description
      p Fin configuraci贸n channeling
    .col-date
      p 02/12/2020
    .col-time
      p 11:30
    .col-canal
        p -    
    .col-send

  .t-table-row
    .col-icon
      .bullet--validated
    .col-description
      p Generaci贸n de Respuesta Compleja OK
    .col-date
      p 02/12/2020
    .col-time
      p 11:30
    .col-canal
        p SWIFT    
    .col-send.checked