/* MAIN STYLES */

@charset "UTF-8";
html {
  body {
    &.background--third {
      background-color: var(--third);
    }
    font-family: "Benton Sans Book BBVA", Helvetica, Arial, sans-serif;
    .container-width_100 {
      padding-top: 20px;
      width: 100%;
    }
    .header__container,
    .subHeader__container,
    .app__container,
    .footer__container {
      margin: 0 auto;
      width: 1144px;
    }
    .separate--vertical {
      border-left: 1px solid var(--sixth);
    }

    .hr-table-customer {
      border-top: 2px solid #d3d3d3;
    }
    header {
      height: 72px;
      background-color: var(--second);
    }
    .subHeader {
      background-color: var(--third);
      margin-bottom: 17px;
    }
    .app__container {
      min-height: 600px;
    }
  }
}
// Media for diferents dekstop screen resolutions
// @media only screen and (max-width: 2000px) {
//   html body {
//     .header__container, .subHeader__container, .app__container, .footer__container {
//       width: 1800px;
//     }
//   }
// }

// @media only screen and (max-width: 1800px) {
//   html body {
//     .header__container, .subHeader__container, .app__container, .footer__container {
//       width: 1600px;
//     }
//   }
// }

// @media only screen and (max-width: 1600px) {
//   html body {
//     .header__container, .subHeader__container, .app__container, .footer__container {
//       width: 1400px;
//     }
//   }
// }

// @media only screen and (max-width: 1400px) {
//   html body {
//     .header__container, .subHeader__container, .app__container, .footer__container {
//       width: 1200px;
//     }
//   }
// }

// @media only screen and (max-width: 1200px) {
//   html body {
//     .header__container, .subHeader__container, .app__container, .footer__container {
//       width: 1144px;
//     }
//   }
// }

// END Media for diferents dekstop screen resolutions 
