/* WEBFONTS VARIABLES */


$icomoon-font-family: "bbva-one-bank" !default;
$icomoon-font-path: "fonts" !default;

$ico-attached: "\e923";
$ico-goto-splunk: "\e924";
$ico-move-tag: "\e926";
$ico-dot-idle: "\e91b";
$ico-dot-active: "\e91a";
$ico-roundBack: "\e918";
$ico-roundNext: "\e919";
$ico-flag: "\e916";
$ico-alert: "\e90c";
$ico-checkmark: "\e90b";
$ico-close: "\e90a";
$ico-trash: "\e909";
$ico-alarm: "\e900";
$ico-back: "\e901";
$ico-bbva_logo: "\e902";
$ico-calendar: "\e903";
$ico-collapse: "\e904";
$ico-configuration: "\e905";
$ico-download: "\e906";
$ico-edit: "\e907";
$ico-expand: "\e908";
$ico-fold: "\e90d";
$ico-globe: "\e90e";
$ico-group-path1: "\e90f";
$ico-group-path2: "\e910";
$ico-next: "\e911";
$ico-path-3-1: "\e912";
$ico-path-3-2: "\e913";
$ico-path-3-3: "\e914";
$ico-path-3-4: "\e915";
$ico-return: "\e91c";
$ico-search-secondary: "\e91d";
$ico-search-tertiary: "\e917";
$ico-search: "\e91e";
$ico-settings: "\e91f";
$ico-show: "\e920";
$ico-filter: "\e921";
$ico-tiled-view: "\e922";
$ico-unfold: "\e925";