.c-confirm-modify-ejec-date {
  width: 100%;
  .c-confirm-modify-ejec-date-container{
    .c-confirm-modify-ejec-date-c-alert {
      width: 100%;
      height: 80px;
      background-color: var(--alert-info);
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      .c-confirm-modify-ejec-date-c-alert_container {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        padding: 0px 25px 0px 50px;
        width: 1144px;
        margin: 0 auto;
        .c-confirm-modify-ejec-date-c-alert_body {
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          align-items: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          .ico-alert {
            font-size: 20px;
            margin-right: 9px;
            &::before {
              color: #d8be75;
            }
          }
          span{
            font-family: "Benton Sans Book BBVA", sans-serif;
            text-align: left;
            font-size: 18px;
            color: var(--data-first);
            line-height: 24px;
          }
          p {
            color: #121212;
            font-family: "Benton Sans Book BBVA", sans-serif;
            font-size: 13px;
          }
        }
        .c-confirm-modify-ejec-date-c-alert_footer {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          
          .c-link{
            margin-right: 25px;
          }
        }
      }
    }
    .c-confirm-modify-ejec-date-information{
      background-color: var(--first);
      padding: 20px 0px 25px 0px;
      .c-confirm-modify-ejec-date-information-container{
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        margin: 0 auto;
        width: 40%;
        img{
          margin-right: 35px;
        }
        .hr-table-customer{
          border-top: 1px solid #d3d3d3;
          .c-confirm-modify-ejec-date-information-c-table {
            width: 100%;
            th,
            td {
              vertical-align: middle;
              padding: 0 15px 0 15px;
            }
            th {
              height: 32px;
              text-transform: uppercase;
              text-align: left;
              p {
                color: var(--tertiary);
                font-size: 12px;
              }
            }
            td {
              height: 40px;
              p {
                color: var(--data-first);
                font-size: 13px;
                font-family: "Benton Sans Bold BBVA";
                &.actual {
                  font-family: "Benton Sans Book BBVA";
                }
                &.new {
                  color: var(--new-ejec-date);
                }      
              }
            }
            tr {
              border-bottom: 1px solid #d3d3d3;
              &.th-table {
                -webkit-box-shadow: 0px 5px 4px 0px rgba(120, 120, 120, 0.1);
                -moz-box-shadow: 0px 5px 4px 0px rgba(120, 120, 120, 0.1);
                box-shadow: 0px 5px 4px 0px rgba(120, 120, 120, 0.1);
                border: none;
              }
            }
          }
        }
      }
    }
  }
}