//- HEADER -//
.c-header-accordion-country.flex-justify-between
  .filler
  .accordion-header-file
    span FICHERO BBVA
  .accordion-header-service
    span SERVICIO
  .accordion-header-data
    span F.EJEC. REAL
  .accordion-header-checksum
    span CHECKSUM
  .accordion-header-status
    span ESTADO
  .filler
//- END HEADER -//

//- ACCORDION -//
.c-accordion-country.flex.flex-justify-between
  .accordion-country-expand
    i.ico-expand
  .accordion-file
    span 307290
    p 10221605PackPRE01-200110221605_PackPRE01-2/001.SVG
  .accordion-service
    span Pago a proveedores
    p REP00234
  .accordion-data
    span 15/01/19
  .accordion-checksum
    span 0,03 - Varios
  .accordion-status
    span.accordion-status_inprocess En proceso
    p creado fichero local correspondiente
  .accordion-dots
    i.ico-configuration
.panel Contents
  
//- END ACCORDION -//
