.c-table-order-dropdown
    .grid-header
        span Global Hub
    .grid-cel 
        span.question Estado:
        span.status-canceled Cancelado        
    .grid-cel 
        span.question Autor de la cancelación:
        span Juan Pérez Villanueva-Cortes
    .grid-cel 
        span.question Fecha de cancelación:
        span 2019/01/16 12:34:01
    .grid-cel 
        span.question Autorizador:
        span Juan Pérez Villanueva-Cortes
    .grid-cel 
        span.question Fecha de autorización:
        span 2019/01/16 12:34:01
    .grid-cel 
        .associated-files
            i.ico-download
            label Archivos asociados
        