.c-header-accordion-files
  div
  .accordionHeader-date
    span FICHERO BBVA
  .accordionHeader-request
    span PAIS
  .accordionHeader-contract
    span SERVICIO
  .accordionHeader-client
    span F.PROPUESTA
  .accordionHeader-files
    span F.EJEC. REAL
  .accordionHeader-lastFile
    span CHECKSUM
  .accordionHeader-requestStatus
    span ESTADO