/* C-TITLE COMPONENT */

.c-title {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-right: 24px;

    h1 {
        font-family: "Benton Sans Book BBVA";
        color: #121212;
        font-size: 28px;
        line-height: 24px;
    }
}

/* END C-TITLE COMPONENT */