table.c-output-files
  tbody
    tr.th-table
      th 
      th 
        p Descripción
      th 
        p Fecha
      th 
        p Hora
      th 
        p Canal
      th 
        p Respuesta a cliente        
      th 
        p Recibido a cliente
    tr
      td.flex
        .flex-column.flex-align-center
          img(src="../svg/status-correct.svg", alt="")
          span.dashed-line
      td 
        p Generación de respuesta compleja OK
      td 
        p 12.02.2020
      td 
        p 13:00
      td 
        p SWIFT
      td
        p.client-file PAIN0101_IBDLES2B_BBVAESMM_2020011980098…
      td
        img(src="../svg/filled-table.svg", alt="Recibido" tabindex='0', role='button')
    tr
      td.flex
        .flex-column.flex-align-center
          img(src="../svg/status-error.svg", alt="")
          span.dashed-line
      td 
        p Fin configuración channeling
      td 
        p 12.02.2020
      td 
        p 11:30
      td 
        p -
      td
      td
        
    tr
      td.flex
        .flex-column.flex-align-center
          img(src="../svg/status-intermediate-info.svg", alt="")
          span.dashed-line
      td 
        p Inicio configuración channeling
      td 
        p 12.02.2020
      td 
        p 11:20
      td 
        p -
      td
      td
        
    tr
      td.flex
        .flex-column.flex-align-center
          img(src="../svg/status-intermediate.svg", alt="")
          span.dashed-line
      td 
        p Envío respuesta SWIFT OK
      td 
        p 12.02.2020
      td 
        p 11:01
      td 
        p -
      td
      td
    
    tr
      td.flex
        .flex-column.flex-align-center
          img(src="../svg/status-recibed.svg", alt="")
      td 
        p Envío respuesta SWIFT OK
      td 
        p 12.02.2020
      td 
        p 11:01
      td 
        p -
      td
      td      
        