.c-accordion-files
  .accordion-expand
    i.ico-expand
  .accordion-date
    span 307290
    p 10221605PackPRE01-2/001
  .accordion-request
    span Argentina
  .accordion-contract
    span Pago a proveedores
    p REP00234
  .accordion-client
    span 15/01/19
  .accordion-files
    span 15/01/19
  .accordion-lastFile
    span 0,03 - Varios
  .accordion-requestStatus
    span.accordion-requestStatus--error programado
    p creado fichero local correspondiente
  .accordion-alert
    i.ico-configuration
.panel
  include ../c-output-files/c-output-files.pug
