:root {
  --first: #ffffff;
  --second: #072146;
  --third: #f4f4f4;
  --fourth: #bdbdbd;
  --fifth: #1973b8;
  --fifth-medium: #49a5e6;
  --sixth: #e9e9e9;
  --seventh: #212121;
  --tertiary: #666666;
  --bground-integrated: #f8cd51;
  --bground-development: #f78be8;
  --bground-quality: #f7893b;
  --bground-production: #f35e61;
  --border-counter-selected: #004481;
  --border-dashed: #d3d3d3;
  --data-first: #121212;
  --text-rejected: #da3851;
  --text-partial: #f7893b;
  --text-timeout: #c49735;
  --text-paid: #388d4f;
  --status-error: #da3851;
  --status-inProcess: #666666;
  --status-finalized: #388d4f;
  --status-outstanding: #C65302;
  --bground-first: #fafafa;
  --backgound-second: #f4f4f4;
  --background-third: #d4edfc;
  --bground-fifth-over: #1464a5;
  --border-primary: #979797;
  --text-pagination: #237aba;
  --icon-gradient: linear-gradient(to bottom right, #4ba9ed 50%, #3993df 50%);
  --alert-info: #F3EBD5;
  --new-ejec-date: #f7893b;
}