/* HELPERS */
.padding_5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-right_5 {
  padding-right: 5px;
}

.padding-right_10 {
  padding-right: 10px;
}

.padding-right_15 {
  padding-right: 15px;
}

.padding-right_20 {
  padding-right: 20px;
}

.padding-right_40 {
  padding-right: 40px;
}

.padding-bottom_0 {
  padding-bottom: 0;
}

.padding-bottom_5 {
  padding-right: 5px;
}

.padding-bottom_10 {
  padding-bottom: 10px;
}

.padding-bottom_20 {
  padding-bottom: 20px;
}

.padding-left_5 {
  padding-left: 5px;
}

.padding-left_10 {
  padding-left: 10px;
}

.padding-left_15 {
  padding-left: 15px;
}

.padding-left_20 {
  padding-left: 20px;
}

.padding-left_60 {
  padding-left: 60px;
}

.padding-left_90 {
  padding-left: 90px;
}

.padding-top_5 {
  padding-top: 5px;
}

.padding-top_10 {
  padding-top: 10px;
}

.padding-top_15 {
  padding-top: 15px;
}

.padding-top_20 {
  padding-top: 20px;
}

.margin-auto {
  margin: 0 auto;
}

.margin-right_5 {
  margin-right: 5px;
}

.margin-right_8 {
  margin-right: 8px;
}

.margin-right_10 {
  margin-right: 10px;
}

.margin-right_15 {
  margin-right: 15px;
}

.margin-right_20 {
  margin-right: 20px;
}

.margin-right_30 {
  margin-right: 30px;
}

.margin-right_40 {
  margin-right: 40px;
}

.margin-left_5 {
  margin-left: 5px;
}

.margin-left_10 {
  margin-left: 10px;
}

.margin-left_15 {
  margin-left: 15px;
}

.margin-left_20 {
  margin-left: 20px;
}

.margin-left_40 {
  margin-left: 40px;
}

.margin-bottom_5 {
  margin-bottom: 5px;
}

.margin-bottom_8 {
  margin-bottom: 8px;
}

.margin-bottom_10 {
  margin-bottom: 10px;
}

.margin-bottom_15 {
  margin-bottom: 15px;
}

.margin-bottom_20 {
  margin-bottom: 20px;
}

.margin-bottom_25 {
  margin-bottom: 25px;
}

.margin-bottom_30 {
  margin-bottom: 30px;
}

.margin-bottom_40 {
  margin-bottom: 40px;
}

.margin-bottom_50 {
  margin-bottom: 50px;
}

.margin-bottom_70 {
  margin-bottom: 70px;
}

.margin-top_5 {
  margin-top: 5px;
}

.margin-top_8 {
  margin-top: 8px;
}

.margin-top_10 {
  margin-top: 10px;
}

.margin-top_15 {
  margin-top: 15px;
}

.margin-top_20 {
  margin-top: 20px;
}

.margin-top_25 {
  margin-top: 25px;
}

.margin-top_30 {
  margin-top: 30px;
}

.margin-top_40 {
  margin-top: 40px;
}

.margin-top_50 {
  margin-top: 50px;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-wrap_nowrap {
  flex-wrap: nowrap;
}

.flex-wrap_wrap {
  flex-wrap: wrap;
}

.flex-asis {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.flex-align-center {
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.inline-flex {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-justify-start {
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
}

.flex-align-start {
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
}

.flex-align-content-start {
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
}

.flex-align-content-end {
  align-content: flex-end;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
}

.flex-align-content-center {
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
}

.flex-align-content-between {
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
}

.flex-align-content-around {
  align-content: space-around;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-around;
}

.flex-align-stretch {
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
}

.flex-align-content-stretch {
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
}

.flex-align-baseline {
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
}

.width_auto {
  width: auto;
}

.full-width {
  width: 100%;
}

.width_0 {
  width: 0px;
}

.width_8 {
  width: 8px;
}

.width_10 {
  width: 10px;
}

.width_20 {
  width: 20px;
}

.width_30 {
  width: 30px;
}

.width_32 {
  width: 32px;
}

.width_40 {
  width: 40px;
}

.width_50 {
  width: 50px;
}

.width_60 {
  width: 60px;
}

.width_64 {
  width: 64px;
}

.width_70 {
  width: 70px;
}

.width_80 {
  width: 80px;
}

.width_90 {
  width: 90px;
}

.width_100 {
  width: 100px;
}

.width_110 {
  width: 110px;
}

.width_120 {
  width: 120px;
}

.width_128 {
  width: 128px;
}

.min-width_0 {
  min-width: 0;
}

.max-width_100 {
  max-width: 100%;
}

.three-quarters-width {
  width: 75%;
}

.two-thirds-width {
  width: 66.6666%;
}

.four-fifths-width {
  width: 80%;
}

.three-fifths-width {
  width: 60%;
}

.half-width {
  width: 50%;
}

.two-fifths-width {
  width: 40%;
}

.third-width {
  width: 33.3333%;
}

.quarter-width {
  width: 25%;
}

.fifth-width {
  width: 20%;
}

.sixth-width {
  width: 16.6666%;
}

.cursor-auto {
  cursor: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.padding_5 {
  padding: 5px;
}

.padding_10 {
  padding: 10px;
}

.padding_15 {
  padding: 15px;
}

.padding_20 {
  padding: 20px;
}

.padding-right_5 {
  padding-right: 5px;
}

.padding-right_10 {
  padding-right: 10px;
}

.padding-right_15 {
  padding-right: 15px;
}

.padding-right_20 {
  padding-right: 20px;
}

.padding-right_30 {
  padding-right: 30px;
}

.padding-right_40 {
  padding-right: 40px;
}

.margin-left_5 {
  margin-left: 5px;
}

.margin-left_10 {
  margin-left: 10px;
}

.margin-left_15 {
  margin-left: 15px;
}

.margin-left_20 {
  margin-left: 20px;
}

.margin-left_90 {
  margin-left: 90px;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-align-center {
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.inline-flex {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-justify-start {
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}

.flex-justify-between {
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
}

.flex-align-end {
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
}

.flex-align-content-start {
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
}

.flex-align-content-end {
  align-content: flex-end;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
}

.flex-align-content-center {
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
}

.flex-align-content-between {
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
}

.flex-align-content-around {
  align-content: space-around;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-around;
}

.full-width {
  width: 100%;
}

.width_8 {
  width: 8px;
}

.width_16 {
  width: 16px;
}

.width_32 {
  width: 32px;
}

.width_64 {
  width: 64px;
}

.width_128 {
  width: 128px;
}

.min-width_0 {
  min-width: 0;
}

.max-width_100 {
  max-width: 100%;
}

.three-quarters-width {
  width: 75%;
}

.two-thirds-width {
  width: 66.6666%;
}

.four-fifths-width {
  width: 80%;
}

.three-fifths-width {
  width: 60%;
}

.half-width {
  width: 50%;
}

.two-fifths-width {
  width: 40%;
}

.third-width {
  width: 33.3333%;
}

.quarter-width {
  width: 25%;
}

.fifth-width {
  width: 20%;
}

.sixth-width {
  width: 16.6666%;
}

.cursor-auto {
  cursor: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-align_center {
  text-align: center;
}

.text-align_left {
  text-align: left;
}

.text-align_right {
  text-align: right;
}

.fade {
  opacity: 0;
}

.fade_in {
  animation: fade-in 300ms 300ms forwards linear;
}

.h_100 {
  height: 100%;
}

.w_100 {
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.disabled,
.inactive {
  pointer-events: none !important;
  opacity: 0.7 !important;
}

.invisible,
.hidden {
  display: none !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.border-bottom-none {
  border-bottom: none !important;
}

/* CONTAINER GRID SYSTEM */
.row {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
}
.row.wrap {
  flex-wrap: wrap;
}

.col {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-1-lg {
  width: 8.3333333333 %;
}

.col-2-lg {
  width: 16.6666666667 %;
}

.col-3-lg {
  width: 25 %;
}

.col-4-lg {
  width: 33.3333333333 %;
}

.col-5-lg {
  width: 41.6666666667 %;
}

.col-6-lg {
  width: 50 %;
}

.col-7-lg {
  width: 58.3333333333 %;
}

.col-8-lg {
  width: 66.6666666667 %;
}

.col-9-lg {
  width: 75 %;
}

.col-10-lg {
  width: 83.3333333333 %;
}

.col-11-lg {
  width: 91.6666666667 %;
}

.col-12-lg {
  width: 100 %;
}